<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">DVD Central</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Togger Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/">Home</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Home/About">About</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Home/Contact">Contact</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Movie">Movies</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Director">Directors</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Rating">Ratings</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Genre">Genres</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Order">Orders</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Format">Formats</a>

                </li>
            </ul>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 sidebar rounded-top">
                <div class="header rounded-top">
                    <h3>Genres</h3>
                </div>
                <div>
                    @{ Html.RenderAction("Sidebar", "Genre");}
                </div>
                <br />
                <div class="header rounded-top">
                    <h3>Login</h3>
                </div>
                <div>
                    <a runat="server" href="~/User/Login">Login</a>
                    <br />
                    <a runat="server" href="~/User/Logout">Logout</a>
                </div>

            </div>

            <div class="col-md-9 main body-content rounded-top">
                <div class="header rounded-top">
                    <h3>@ViewBag.Title</h3>
                </div>
                @RenderBody()
                <hr />
                <footer class="ml-2">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
