@model VO.DVDCentral.BL.Models.Movie

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ml-2">
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InStkQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InStkQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormatDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormatDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            <img src="~/images/@Model.ImagePath" class="imagepropmed" />
        </dd>


    </dl>
</div>
<p class="ml-2">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = Model.Id }, null)
</p>
