@model VO.DVDCentral.BL.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InStkQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InStkQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RatingDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormatDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormatDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DirectorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DirectorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
